
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>



<%= form_for(current_user) do |f| %>
  <div class="card-up edit-card" style ="background-color: #f8f5f2;">
     
      <h1 class="card-title">
      <img src="https://img.icons8.com/nolan/64/edit--v1.png"/>
      Editer ton compte
      </h1>
     
    <div class="card-body" style="padding: 20px;">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		      <div class="form-group">
          
            <div class="field">
              <%= f.label :pseudo, style: "display: inline block;" %> 
              <%= f.text_field :last_name, autofocus: true, autocomplete: "pseudo" %>
            </div>

          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		      <div class="form-group">
            <div class="field">
              <%= f.label :age, style: "display: inline block;" %>
              <%= f.text_field :age, autofocus: true, autocomplete: "age" %>
            </div>
          </div>
        </div>
      </div>

	    <div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		      <div class="form-group">
            <div class="field">
              <%= f.label :Pays, style: "display: inline block;" %>
              <%= f.text_field :country, autofocus: true, autocomplete: "Country" %>
            </div>
          </div>
        </div>

		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		      <div class="form-group">
            <div class="field">
              <%= f.label :Type_de_Joueur, style: "display: inline block;" %>
              <%= f.select :player_type, options_for_select(["Casual", "Mid gamer", "Tryharder"]), autofocus: true, autocomplete: "Type de joueur" %>  
            </div>
          </div>
        </div>
      </div>

      <div class="row">
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		      <div class="form-group">
            <div class="field">
              <%= f.label :Description_et_Disponibilitées, style: "display: block;" %>
              <%= f.text_area :description, autofocus: true, autocomplete: "Description et Disponibilités" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  
    <div class="plateform">
      <div class="card-plateform">
        <div class="card-body" style="padding: 30px;">
          <h1 class="card-title" style="margin-bottom: 30px;">
          <img src="https://img.icons8.com/nolan/64/controller.png"/>
          Vos Plateformes gaming</h1>
          <div class="card-content">
            <div class="card-item">
              <p><img class="img-edit" src="https://img.icons8.com/ios-filled/50/000000/xbox.png"/> 
              <%= f.text_field :xbox, autofocus: true, autocomplete: "xbox" %></p>
            </div>
            <div class="card-item">
              <p><img class="img-edit" src="https://img.icons8.com/ios-filled/50/000000/play-station.png"/>
              <%= f.text_field :psn, autofocus: true, autocomplete: "psn" %></p>
            </div>
            <div class="card-item">
              <p><img class="img-edit" src="https://img.icons8.com/ios-filled/50/000000/nintendo-switch-logo.png"/>
              <%= f.text_field :nintendo, autofocus: true, autocomplete: "nintendo" %></p>
            </div>
            <div class="card-item">
              <p><img class="img-edit" src="https://img.icons8.com/ios/50/000000/battle-net.png"/>
              <%= f.text_field :battlenet, autofocus: true, autocomplete: "battlenet" %></p>
            </div>
            <div class="card-item">
              <p><img class="img-edit" src="https://img.icons8.com/ios-filled/50/000000/steam.png"/>
              <%= f.text_field :steam, autofocus: true, autocomplete: "steam" %></p>
            </div>
            <div class="card-item">
              <p><img class="img-edit" src="https://img.icons8.com/ios-filled/50/000000/epic-games.png"/>
              <%= f.text_field :epic_game, autofocus: true, autocomplete: "Epic Game" %></p>
            </div>
            <div class="card-item">
              <p><img class="img-edit" src="https://img.icons8.com/ios-filled/50/000000/origin.png"/>
              <%= f.text_field :origin, autofocus: true, autocomplete: "origin" %></p>
            </div>
            <div class="card-item">
              <p><img class="img-edit" src="https://img.icons8.com/ios-filled/50/000000/league-of-legends.png"/>
              <%= f.text_field :riot_games, autofocus: true, autocomplete: "Riot Games" %></p>
            </div>
            <div class="card-item">
              <p><img class="img-edit" src="https://img.icons8.com/ios-filled/50/000000/discord-logo.png"/>
              <%= f.text_field :discord_tag, autofocus: true, autocomplete: "Discord" %></p>
            </div>
          </div>
        </div>
      </div>
   </div>
      <div class="actions">
        <%= f.submit "Update", data: { disable_with: false }, class: "btn btn-primary" %>
        <%= link_to "Retour profil", user_path(current_user), class: "btn btn-secondary" %>
      </div>
    
<% end %>