<link rel="stylesheets" href="style.css">
 <link rel="stylesheets" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


  

  <div class="description">
    <div class="card-description">
      <div class="card-body">
        <h1 class="card-title">
          <img src="https://img.icons8.com/nolan/64/resume.png"/>
          Description 
        </h1>
        <center>
        <%if @user.avatar.attached?%>
          <div class="roundedImage">
            <%= image_tag @user.avatar, alt: 'avatar', :size => '260x180'%>
          </div>
          <%else%>
        </center>

        <p>Ajoute ton avatar</p>
        <%end%>

        <br>
        
        
        <center>
          <%= form_tag user_avatars_path(@user), multipart: true  do %>
            <%= submit_tag "Mettre à jour", class: "btn btn-primary"%>
            <%= file_field_tag :avatar %>
          <% end %>
        </center>

        <div class="row">
        
        <% if @review_user.count > 1 %>
            <h3>
            <% if @average < 2 %>
            <i class="fas fa-star "></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% elsif @average.round(3) > 1.75 && @average.round(3) < 2.25 %> 
            <i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% elsif @average.round(3) > 2.25 && @average.round(3) < 2.75 %> 
            <i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% elsif @average.round(3) > 2.75 && @average.round(3) < 3.25 %> 
            <i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="far fa-star"></i><i class="far fa-star"></i>
            <% elsif @average.round(3) > 3.25 && @average.round(3) < 3.75 %> 
            <i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
            <% elsif @average.round(3) > 3.75 && @average.round(3) < 4.25 %> 
            <i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="far fa-star"></i>
            <% elsif @average.round(3) > 4.25 && @average.round(3) < 4.75 %> 
            <i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star-half-alt"></i>
            <% elsif @average.round(3) == 5 %> 
            <i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star black"></i><i class="fas fa-star black"></i>
            basée sur <%= @review_user.count %> notations</h3>
            <% else %>
            <p>Pas assez de notations</p>
          <% end %>
          <% end %>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="form-group">
              <h3>Pseudo</h3> <strong> <div class="text-tag"><%= @user.last_name %> </div> </strong>
            </div>
          </div>

    
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="form-group">
              <h3>Pays</h3> <strong><div class="text-tag"><%= @user.country %></div></strong>
            </div>
          </div>
        
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="form-group">
              <h3>Age</h3><strong><div class="text-tag"><%= @user.age %></div></strong>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="form-group">
              <h3>Niveau de jeu</h3> <strong><div class="text-tag"><%= @user.player_type %></div></strong>
            </div>
          </div>
        </div>
        <hr style="height: 2px; color: #49354c; background-color: #49354c; width: 50%; border: none; margin: 50px 0;">
        <div class="form-group">
          <h3 class="card-title" style="color:#49354c">Description et Disponibilitées </h3> <strong><div class="text-tag"><%= @user.description %></div></strong>
        </div>
        <%= link_to "Editer mon profil", edit_user_path(), class: "btn btn-primary"%>
      </div>
    </div>
  </div>
  
    <div class="plateform">
    <div class="card-plateform">
      <div class="card-body" >
          <h1 class="card-title">
          <img src="https://img.icons8.com/nolan/64/controller.png"/>
          Plateforme</h1>
          <div class="card-item">
          <div class="text-tag">
          <img class="img-plateform" src="https://img.icons8.com/ios-filled/50/000000/xbox.png"/> 
          <strong> <%= @user.xbox %>
          </strong></div>
          </div>
          <div class="card-item">
          <div class="text-tag">
          <img class="img-plateform" src="https://img.icons8.com/ios-filled/50/000000/play-station.png"/>
          <strong><%= @user.psn %>
          </strong></div>
          </div>
          <div class="card-item">
          <div class="text-tag">
          <img class="img-plateform" src="https://img.icons8.com/ios-filled/50/000000/nintendo-switch-logo.png"/>
          <strong><%= @user.nintendo %>
          </strong></div>
          </div>
          <div class="card-item">
          <div class="text-tag">
          <img class="img-plateform" src="https://img.icons8.com/ios/50/000000/battle-net.png"/>
          <strong><%= @user.battlenet %>
          </strong></div>
          </div>
          <div class="card-item">
          <div class="text-tag">
          <img class="img-plateform" src="https://img.icons8.com/ios-filled/50/000000/steam.png"/>
          <strong><%= @user.steam %>
          </strong></div>
          </div>
           <div class="card-item">
           <div class="text-tag">
           <img class="img-plateform" src="https://img.icons8.com/ios-filled/50/000000/epic-games.png"/>
           <strong><%= @user.epic_game %>
           </strong></div>
          </div>
          <div class="card-item">
          <div class="text-tag">
          <img class="img-plateform" src="https://img.icons8.com/ios-filled/50/000000/origin.png"/>
          <strong><%= @user.origin %>
          </strong></div>
          </div>
          <div class="card-item">
          <div class="text-tag">
          <img class="img-plateform" src="https://img.icons8.com/ios-filled/50/000000/league-of-legends.png"/>
          <strong><%= @user.riot_games %>
          </strong></div>
          </div>
          <div class="card-item">
          <div class="text-tag">
          <img class="img-plateform" src="https://img.icons8.com/ios-filled/50/000000/discord-logo.png"/>
          <strong><%= @user.discord_tag %>
          </strong></div>
          </div>
      </div>
    </div>
 


<% if @user_review %>
   <div class="star">
     <div class="card-star">
       <div class="card-body">
        
        <h1 class="card-tittle">
          <img src="https://img.icons8.com/nolan/64/filled-star.png"/>
          Notation</h1>
        <br>
       </div> 
        <div>
        
        
      <%= link_to "ajouter un avis", new_user_review_review_path(@user_review) %>
<br><br>
      <%= render @user_review.reviews %>
          </div>

         
     </div>
   </div>
  </div>

  
 <% end %>

