<%= form_with(model: event, local: true) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% x = @games.length %>

    <div class="card-up edit-card" style ="background-color: #f8f5f2;">
     
      <h1 class="card-title">
      <img src="https://img.icons8.com/nolan/64/paste-special.png"/>
      Crée ton Événement </h1>

      <div class="card-body" style="padding: 20px;">

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		              <div class="form-group">
                    <div class="field">
                     <%= f.label :title, 'Titre' %>
                     <%= f.text_field :title, class: 'form-control' %>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		              <div class="form-group">
                    <div class="field">
                      <%= f.label :start_date, "Date" %><br/>
                      <%= f.date_field :start_date, class: 'form-control' %>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		              <div class="form-group">
                    <div class="field">
                     <%= f.label :Heure, style: "display: inline block;" %><br>
                     <%= f.text_field :start_time_hours, autofocus: true, autocomplete: "Heure" %>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		              <div class="form-group">
                    <div class="field">
                     <%= f.label :Minutes, style: "display: inline block;" %><br>
                     <%= f.text_field :start_time_min, autofocus: true, autocomplete: "Minute" %>
                   </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		              <div class="form-group">
                    <div class="field">
                     <%= f.label :plateform, "Plateforme" %>
                     <%= f.text_field :plateform, class: 'form-control' %>
                    </div>
                  </div>
                </div>           
            
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		              <div class="form-group">
                    <div class="field">
                      <%= f.label :game_number, "Choisi ton jeu" %>
                      <br>
                      <%= f.select :game_number, options_for_select([
                        1, 
<<<<<<< Updated upstream
                        2, 
                        3, 
                        4, 
                        5, 
                        6, 
                        7,
                        8
=======
                        "Rocket League", 
                        "Fortnite", "Alexandra Ledermann 8 : Les Secrets du Haras", 
                        "Apex Legends", 
                        "Call of Duty: Vanguard", 
                        "Battlefield 2042", 
                        "FIFA13"
>>>>>>> Stashed changes
                      ]), autofocus: true, autocomplete: "Choisi ton jeu" %> 
                         <!-- ATTENTION A LA MERDE DU TRUC ICI -->
                      
                    </div> 
                  </div>
                </div>

                
		        
            
            
                  <div class="form-group">
                    <div class="field">
                     <%= f.label :description, style: "display: block;" %>
                     <%= f.text_area :description, autofocus: true, autocomplete: "Description" %>
                    </div>
                  </div>

                  <div class="actions">
                    <%= f.submit "Créer", class: "btn btn-primary" %>|
                    <%= link_to "Retour", events_path(current_user), class: "btn btn-secondary" %>
                  </div>                
      </div> 
    </div>
   
     
<% end %>
