
<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-jumb">
    <img src="https://img.icons8.com/nolan/64/planner.png"/>
     Les Événements </h1>
     <br>
     <br>
    <p class="lead">Tu souhaite rejoindre, un tournoi, une partie privée, un événement en tout genre ?</p>
    <p> Tu es au bon endroit ! <img src="https://img.icons8.com/nolan/50/slime-rancher.png"/> </p>
    <%= link_to 'Créer un événement', new_event_path, class: "btn btn-primary" %>
  </div>
</div>


  

 <p id="notice"><%= notice %></p>

 

 
    <body>
      <% @events.each do |event| %>
      <div class="card-event" style ="background-color: #f8f5f2;">
        <div class="card-body"> 
           
           <h3 class="title-event" >Événement de <%= event.user.last_name %></h3>
           <h3>Sur le Jeu: <%= event.game.name %></h3>
           <h3>Titre de l'événement: <%= event.title %></h3>
           <h3>Heure de début: <%= event.start_time_hours %>H <%= event.start_time_min %>min</h3>
           <h3>Date de l'événement: <%= event.start_date %></h3>
           <h3><%= link_to 'Info événement', event, class:"btn btn-primary" %></h3>
        </div>    
      </div>
      <% end %>
    </body>


<br>
</div>