<br>
<br>
<br>
<br>
<br>
<br>


<p id="notice"><%= notice %></p>


    <tr>
      ecris par : <td><%= @event.user.email %></td><br>
      <td><%= @event.title %></td>       <br>
      <td><%= @event.start_time_hours %>:<%= @event.start_time_min %></td><br>
      <td><%= @event.description %></td><br>
      <td><%= @event.start_date %></td><br>
      le jeu : <td><%= @event.game.name %></td>


      </tr>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Events', events_path %>

il y a <%= @compteur %> personnes inscrites
<% participation = current_user.participations.find_by(event: @event)%>
<% if participation.nil? %>
<form action="/participations" method="post" >
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="hidden" name="participation[event_id]" value="<%= @event.id %>" >
    <input type="submit" value="Rejoindre un évenement du jeu">
</form>

<% else %>

<form action="<%= participation_path(participation) %>" method="post" >
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="hidden" name="_method" value="DELETE" >
    <input type="submit" value="Ne plus participer à l'évent">
</form>

<% end %>

<div class="row align-item-center justify-content-center">
    <div class="col-sm-10">
      <div class="card">
       
        <div class="card-body">
          <div class="row card-deck justify-content-center">
            <% @all_particiation.each do |participations| %>
              <div class="col-sm-5 mx-2 my-4">
                <div class="card">
                 <% if participations.user %>
                  <div class="card-body">
                    <h5 class="card-title"><%= participations.user.email %></h5>
                   
                    <br>
                    <p><a><%= link_to "En savoir plus", user_path(participations.user.id), class: "btn btn-link" %></a></p>
                    
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  