<div class="show-event-container">
<div class="card-event" style ="background-color: #f8f5f2;">
  <p id="notice"><%= notice %></p>
  <h1 class="card-title"><%= @event.title %>, crée par <%= @event.user.last_name %></h1>
    <div class="card-body">
      <h3>Titre</h3> <div class="text-tag-event"><%= @event.title %></div>      
      <h3>Heure</h3> <div class="text-tag-event"><%= @event.start_time_hours %>H<%= @event.start_time_min %>min</div>
      <h3>Description</h3> <div class="text-tag-event"><%= @event.description %></div>
      <h3>Date</h3> <div class="text-tag-event"><%= @event.start_date %></div>
      <h3>Jeu</h3> <div class="text-tag-event"><%= @event.game.name %></div>
      
      <div class="actions">
      <%= link_to 'Editer', edit_event_path(@event), class: "btn btn-primary" %>
      <%= link_to 'Retour aux évenements', events_path, class: "btn btn-info" %>
      </div>

      <em>il y a <%= @compteur %> personnes inscrites</em>
      <% participation = current_user.participations.find_by(event: @event)%>
      <% if participation.nil? %>
        <form action="/participations" method="post" >
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
          <input type="hidden" name="participation[event_id]" value="<%= @event.id %>">
          <input class="btn btn-primary" type="submit" value="Rejoindre l'évenement">
        </form>
      <% else %>
        <form action="<%= participation_path(participation) %>" method="post" >
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
          <input type="hidden" name="_method" value="DELETE" >
          <input class="btn btn-danger" type="submit" value="Ne plus participer à l'évent">
        </form>
      <% end %>
    </div>
</div>

<div class="card-event" style ="background-color: #f8f5f2;">
  <h1 class="card-title">Participants</h1>   
  <div class="card-body">
    <% @all_participation.each do |participations| %>
      <% if participations.user %>
      <div class="card-players">
        <div class="card-body-avatar">
          <p class="title-min-event">Participant</p>
        </div>

        <div class="card-body-player">
          <p><strong>Pseudo</strong></p>
          <div class="text-tag">
          <p><em><%= participations.user.last_name %></em>
        </div></p>

        <div class="card-body-player">
          <p><strong>Description</strong></p>
          <div class="text-tag">
          <p><em><%= participations.user.description %></em>
          </div></p>

          <p><strong>Discord</strong><p>
          <div class="text-tag">
          <p><%= participations.user.discord_tag %></p>
          </div>
          <p><a><%= link_to "En savoir plus", user_path(participations.user.id), class: "btn btn-primary" %></a></p>
        </div>               
      </div>
      <% end %>
      <% end %>
  </div>
</div>
</div>