<div class="jumbotron-game">
 <div class="container-game">
  <div class="fond">
   <h1>Les jeux disponibles</h1>
   <em class="em-game">Trouve ton jeu, et lance toi dans la communauté</em>
  </div>
 </div>
</div>


<p id="notice"><%= notice %></p>
<div class="card-games" style ="background-color: #f8f5f2;">
  <div class="card-body" style="padding-top: 30px;"> 
    <% @games.each do |game| %> 
    <div class="card-body-game">
    <h3 class="title-event"><strong><%= game.name %></strong></h3>
      <div class="card-container-game">
        <img src="<%= game.img_url %>">
        <div class="action-game">
        <%= link_to 'Voir', game, class: "btn btn-primary" %>

      <% if current_user && current_user.email == "100code@street.bg" %>
        <%= link_to 'Editer', edit_game_path(game) %>
        <%= link_to 'Supprimer', game, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

        </div>
      </div>
    </div>
    <% end %>
    
  </div>  
</div>

<% if current_user && current_user.email == "100code@street.bg" %>
<%= link_to 'New Game', new_game_path %>
<% end %>

