<div class="jumbotron-show-game">
 <div class="container-page-game">
  <div class="fond-game">
    <img src="<%= @game.img_url %>">
    <h1><%=@game.name%></h1>
   <em></em>
  </div>
 </div>
</div>

<div class="card-show">
  <div class="card-body">
        <% community = current_user.communities.find_by(game: @game)%>
        <% if community.nil? %>
        <form action="/communities" method="post" >
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
            <input type="hidden" name="community[game_id]" value="<%= @game.id %>" >
            <input type="submit" value="Rejoindre la commu du jeu">
        </form>


        <% else %>

        <form action="<%= community_path(community) %>" method="post" >
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
            <input type="hidden" name="_method" value="DELETE" >
            <input type="submit" value="Quitter la commu du jeu">
        </form>

        <% end %>
        
        <p><strong>Il y a <%= @compteur %> joueurs dans cette communauté</strong></p>
  </div>
</div>
      <% @all_commu.each do |communities| %>
      <div class="card-players" style ="background-color: #f8f5f2;"> 
        <div class="card-body-avatar">
          <p class="title-min-event">Joueur</p>
        </div>


        <div class="card-body-player">
            <p><strong>Pseudo </strong>
            <div class="text-tag">
              <%= communities.user.last_name %>
            </div></p>

            <p><strong>Discord </strong>
            <div class="text-tag">
            <%= communities.user.discord_tag %>
            </div></p>

            <p><strong>Type </strong>
            <div class="text-tag">
            <%= communities.user.player_type%>
            </div></p>

            <a><%= link_to "En savoir plus", user_path(communities.user.id), class: "btn btn-primary" %></a>
        </div>
      </div>
      <% end %>
 

  <div class="soon-event">
    <h1>Les évènements à venir</h1>
  </div> 


    
      <div class="card-body">
          <% @events.each do |event| %>
            <div class="card-players" style ="background-color: #f8f5f2;"> 
              <div class="card-body-avatar">
                <p class="title-min-event">Évenement de <%= event.user.last_name %></p>
              </div>
              <div class="card-body-player">

                    <p class="card-text">Titre</p>
                    <div class="text-tag">
                    <%=event.title%>
                    </div>
                    <p class="card-text">Plateforme
                    <div class="text-tag">
                     <%=event.plateform%>
                    </div></p>

                    <p class="card-text">Date de l'event 
                    <div class="text-tag">
                    <%=event.start_date%>
                    </div></p>

                    <p class="card-text">Heure de l'event
                    <div class="text-tag">
                     <%=event.start_time_hours%>h<%=event.start_time_min%>
                     </div></p>

                    
                    <p><a><%= link_to "En savoir plus", event_path(event.id), class: "btn btn-primary" %></a></p>
              </div>
            </div>
            <% end %>
            
      </div>
    </div>






  


