<br><br><br><br>


<p id="notice"><%= notice %></p>

<tr>

<td><%= @game.name %></td>       
<td><%= @game.category %></td>

</tr>




<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>


il y a <%= @compteur %> personnes qui joue a ce jeux
<% community = current_user.communities.find_by(game: @game)%>
<% if community.nil? %>
<form action="/communities" method="post" >
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="hidden" name="community[game_id]" value="<%= @game.id %>" >
    <input type="submit" value="Rejoindre la commu du jeu">
</form>

<% else %>

<form action="<%= community_path(community) %>" method="post" >
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="hidden" name="_method" value="DELETE" >
    <input type="submit" value="Quitter la commu du jeu">
</form>

<% end %>


