<br><br><br><br>


<p id="notice"><%= notice %></p>

<tr>

<td><%= @game.name %></td>       
<td><%= @game.category %></td>

</tr>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>


<%# <%=link_to "Rejoindre", root_path(), {:controller => "communities", :action => "create", } %> %>
<%=button_to "Rejoindre", { :controller => "communities", :action => "create", community_id: params[:id]} %>

