<br><br><br><br>


<p id="notice"><%= notice %></p>

<tr>

<td><%= @game.name %></td>       
<td><%= @game.category %></td>

</tr>




<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>


il y a <%= @compteur %> personnes qui joue a ce jeux


<% community = current_user.communities.find_by(game: @game)%>
<% if community.nil? %>
<form action="/communities" method="post" >
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="hidden" name="community[game_id]" value="<%= @game.id %>" >
    <input type="submit" value="Rejoindre la commu du jeu">
</form>

<% else %>

<form action="<%= community_path(community) %>" method="post" >
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="hidden" name="_method" value="DELETE" >
    <input type="submit" value="Quitter la commu du jeu">
    
</form>


    <% end %>


    



























<br><br>

 <h5>Les évènements a venir</h5>
 <br>

<div class="row align-item-center justify-content-center">
  <div class="col-sm-10">
    <div class="card">
     
      <div class="card-body">
        <div class="row card-deck justify-content-center">
          <% @events.each do |event| %>
            <div class="col-sm-5 mx-2 my-4">
              <div class="card">
               
                <div class="card-body">
                  <h5 class="card-title"><%=event.title%></h5>
                  <p class="card-text"><%=event.plateform%></p>
                  <p class="card-text"><%=event.start_date%></p>
                  <p class="card-text"><%=event.start_time_hours%>h<%=event.start_time_min%></p>
                  <br>
                  <p><a><%= link_to "En savoir plus", event_path(event.id), class: "btn btn-link" %></a></p>
                  
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="row align-item-center justify-content-center">
    <div class="col-sm-10">
      <div class="card">
       
        <div class="card-body">
          <div class="row card-deck justify-content-center">
            <% @all_commu.each do |communities| %>
              <div class="col-sm-5 mx-2 my-4">
                <div class="card">
                 <% if communities.user %>
                  <div class="card-body">
                    <h5 class="card-title"><%= communities.user.email %></h5>
                   
                    <br>
                    <p><a><%= link_to "En savoir plus", user_path(communities.user.id), class: "btn btn-link" %></a></p>
                    
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  