<p id="notice"><%= notice %></p>

<h1>User Reviews</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_reviews.each do |user_review| %>
      <tr>
        <td><%= link_to 'Show', user_review %></td>
        <td><%= link_to 'Edit', edit_user_review_path(user_review) %></td>
        <td><%= link_to 'Destroy', user_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Review', new_user_review_path %>
