<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>MatesMakings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="url" href="https://media.discordapp.net/attachments/887258359252783116/917879598727970836/MATES__MAKINGS_LOGO_BIG.png?width=400&height=225" />
    

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheets" href="style.css">
  </head>


 <header>
 <nav class="navbar navbar-inverse">

       <div class="container-fluid">
          <div class="menu-burger">
            <i class="fas fa-bars" id="btn"></i>
          </div>
         <div class="navbar-header">
           <a class="navbar-brand" href="/"><img class="nav-logo" src="https://media.discordapp.net/attachments/887258359252783116/917879647759372398/MATES__MAKINGS_NOIR.png?width=400&height=113"></a>
         </div>
         <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
             <li><%= button_to "Déconnexion", destroy_user_session_path(current_user), method: :delete, class: 'btn btn-danger', style: "margin: 10px" %></li>
             <li class="profile"><%=link_to "Mon profil", user_path(current_user), class: 'btn btn-outline-secondary' %></li>
            <% else %>
             <li><%=link_to "Inscription", new_user_registration_path(), class: 'nav-link' %><span class="glyphicon glyphicon-user"></span></li>
             <li><%= link_to "Se connecter", new_user_session_path(), class: 'nav-link' %><span class="glyphicon glyphicon-log-in"></span></li>
            <% end %>
         </ul>
       </div>
 </nav>  
 </header>

<body style="background-image: linear-gradient(to right top, #232323, #49354c, #843f64, #c34662, #f45d48); background-repeat: no-repeat; ">
    <div class="sidebar">
      <div class="sidebar-header">MatesMakings</div>
      <ul>
        <li>
          <a href="#">Cherche un jeu</a>
        </li>
        <li>
          <a href="#" class="event-btn">Evênements
            <span class="fas fa-caret-down first"></a></a>
            <ul class="event-show">
              <li><a href="#">Crée ton event</a></li>
              <li><a href="#">Rejoins un event</a></li>
            </ul>
        </li>
        <li>
          <a href="#" class="jeux-btn">Tous nos jeux
            <span class="fas fa-caret-down second"></a>
            <ul class="jeux-show">
              <li><a href="#">Rocket League</a></li>
              <li><a href="#">League of Legend</a></li>
              <li><a href="#">Pokémon</a></li>
              <li><a href="#">Battlefield 2042</a></li>
              <li><a href="#">GTA XII</a></li>
            </ul>
        </li>
      </ul>
    </div>
<%= yield %>
</body>
</html>