<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>MatesMakings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheets" href="style.css">
  </head>
<header>
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">MatesMakings</a>
        </div>

        <ul class="nav navbar-nav navbar-right">

          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Recherche d'un jeu</a></li>

           <% if current_user %>
            <li><%= button_to "Déconnexion", destroy_user_session_path(current_user), method: :delete, class: 'btn btn-outline-danger', style: "margin: 10px" %></li>
            <li><%=link_to "Mon profil", user_path(current_user), class: 'btn btn-outline-secondary', style: "margin: 10px" %></li>

           <% else %>
            <li><%=link_to "Inscription", new_user_registration_path(), class: 'nav-link' %><span class="glyphicon glyphicon-user"></span></li>
            <li><%= link_to "Se connecter", new_user_session_path(), class: 'nav-link' %><span class="glyphicon glyphicon-log-in"></span></li>
           <% end %>
        </ul>
      </div>
    </nav>  
</header>
<body>
<<<<<<< HEAD

<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">M&M</a>
    </header>
    <ul class="nav">
      <li>
        <a href="#">
          <i class="zmdi zmdi-view-dashboard"></i> Accueil
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-link"></i> Jeux
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-widgets"></i> Evênements
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-calendar"></i> Communautées
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-info-outline"></i> Jeux populaires
        </a>
      </li>
    </ul>
  </div>
</div>
=======
>>>>>>> 0309bb76f66805f634efc2b58bc2f928605a358e
<%= yield %>
</body>
</html>